@model My_Special_Access_Funny_Picture_And_Video_Collection.Models.Media
@{
    ViewData["Title"] = "Details";

}
<h1>@ViewData["Title"]</h1>

<div>
    <h4>Media</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsVideo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsVideo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MediaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>